html {
  box-sizing: border-box;
}

*, *:before,* :after {
 box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: SF Pro Display;
  font-size: 10px;
  color: #293742;
}

.container {
  margin: 0 auto;
  width: 420px;
  height: 667px;
  overflow: scroll;
}

nav {
  background-color: white;
  box-shadow: 0px 0px 8px 0px;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 375px;
  height: 84px;
}

.status-bar {
width: 375px;
height: 10px;
margin-top: -5px;
padding-left: 5px;
display: block;
margin-left: -15px;
/*background-color: yellow;*/
}

.map-section {
  background-size:contain;
  height: 280px;
  width: 375px;
  padding-top: 42px;

}

.bus-list {
  position: relative;
  box-shadow: 8px 8px 8px 8px;
  margin-top: 42px;
  padding-top: 0%;
  background-color: #979797;
  float: left;
  width: 375px;


}
h1 {
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;

}

h3 {
font-size: 12px;
line-height: 150%;

}

h5 {
  line-height: 150%;
  /*background-color: yellow;*/
  text-align: center;
}

h6 {
  font-weight: bold;

}

h7 {
  line-height: 150%;
  /*background-color: cyan;*/
  color: #DF230F;
}

h8 {
  line-height: 150%;
  color: #DF230F;
}

.content {
  display: block;
  float: left;
  /*padding-top: 5px;
  padding-bottom: 5px;*/
  height: 60px;
  padding-top: 10px;
  margin-left: 20px;
  /*background-color: orange;*/
}

.bus-icon-orange {
  float: left;
  width: 40px;
  display: block;
  margin-top: 14px;
  margin-left: 10px;
}


.bus-number {
  /*background-color: yellow;*/
  float: left;
  width: 40px;
  display: block;
  font-size: 25px;
  padding-top: 18px;
  margin-left: 0px;
  text-align: center;
}

.arrow-left {
  padding: 1px;
  border: 1px;
  margin-left: -2px;
  margin-top: 15px;
  display: block;
  float: left;

}
.menu-title {
/*  background-color: red; */
  width: 300px;
  text-align: center;
  display: block;
  float: left;
  margin-top: 38px;

}

h4 {
  font-size: 17px;
  font-weight: bold;
}
.arrow {
  font-size: 12px;
  font-weight: bold;
  display: block;
  float: right;
  padding: 5px;
  margin-top: 18px;
  margin-right: 4px;

}

.arrow-red {
  font-size: 12px;
  font-weight: bold;
  display: block;
  float: right;
  padding: 5px;
  margin-top: 7px;
  margin-right: -2px;
  text-align: center;

}
.location {
height: 60px;
margin-bottom: 1px;
padding-top: 0px;
padding-left: 20px;
padding-right: 20px;
display: block;
box-sizing: border-box;
width: 375px;
background-color: white;

}
/*.location:hover {
  background-color: blue;
}*
