html {
  box-sizing: border-box;
}

*, *:before,* :after {
 box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: SF Pro Display;
  font-size: 10px;
}

.container {
  background-color: yellow;
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: green;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 375px;
  height: 80px;
}

.status-bar {
  float: left;
}


/*.container{
  background-color: yellow;
  padding: 50px;
  border: 50px;
  padding: 50px;
  width: 300px;
  height: 600px;
} */

.restaurant-list {
  padding-top: 80%;
  background-color: black;
  float: left;
  width: 375px;


}
h1 {
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;

}

h3 {
font-size: 12px;
line-height: 150%;

}

.content {
  display: block;
  float: left;
  /*padding-top: 5px;
  padding-bottom: 5px;*/
  height: 60px;
  padding-top: 10px;
  margin-left: 80px;
  background-color: orange;
}

.arrow-left {
  background-color: black;
  padding: 10px;
  border: 10px;
  width: 40px;
  display: block;
  float: left;

}
.menu-title {
  background-color: red;
  width: 280px;
  text-align: center;
  display: block;
  float: left;
  margin-top: 11px;

}

h4 {
  font-size: 17px;
  font-weight: bold;
}
.arrow {
  font-size: 12px;
  font-weight: bold;
  display: block;
  float: right;
  padding: 5px;
  margin-top: 15px;
  /*margin-top: 5px;*/

}

.location {
height: 60px;
margin-top: 1px;
padding-top: 0px;
padding-left: 20px;
padding-right: 20px;
display: block;
box-sizing: border-box;
width: 375px;
background-color: #D8D8D8;

}
.location:hover {
  background-color: blue;
}
